PORT=3010
NODE_ENV=development
APP_DOMAIN=localhost
DOCKER_NETWORK_NAME=n8n-eole-prod_default
DOCKER_NETWORK_EXTERNAL=false
# Google Tag Configuration
GOOGLE_TAG_ID=G-XXXXXXXXXX

# Telemetry Configuration
N8N_TELEMETRY_WEBHOOK_URL=http://localhost:5678/webhook/jobby-telemetry
N8N_FEEDBACK_WEBHOOK_URL=http://localhost:5678/webhook/jobby-feedback
