PORT=3010
NODE_ENV=development
APP_DOMAIN=localhost
DOCKER_NETWORK_NAME=n8n-eole-prod_default
DOCKER_NETWORK_EXTERNAL=false
# Google Tag Configuration
GOOGLE_TAG_ID=G-XXXXXXXXXX

# --- Production Domain Routing Parameters ---
DOMAIN_NAME=yourdomain.com
JOBBY_SUBDOMAIN=jobby
JOBBY_REDIRECT_SUBDOMAIN=cv
AXIOM_DATASET=jobby
